<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile - Twitter Clone</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

  <header>
    <nav class="navbar">
      <div class="logo">Twitter</div>
      <div class="menu">
        <a href="home">Home</a>
        <a href="#">Notifications</a>
        <a href="#">Messages</a>
        <a href="profile">Profile</a>
        <a href="#">More</a>
      </div>
    </nav>
  </header>

  <div class="profile-container">
    <div class="banner"></div>
    <div class="profile-info">
      <img src="<%= uimage %>" alt="Profile" class="profile-pic">
      <h2><%=uname %></h2>
      <p>@<%=uemail %></p>
      <button class="edit-profile">Edit Profile</button>
    </div>
  </div>

  <div class="feed">
    <h3>Posts</h3>
      <div class="tweet">
        <div class="tweet-header">
          <div class="tweet-info">
          </div>
        </div>
      </div>
  </div>

</body>
</html>
